# Coq
*.v.d
*.vo
*.glob
*.crashcoqide
/LambdaS5/coq/Makefile
/LambdaS5/coq/_CoqProject

# Extraction
/LambdaS5/coq/*.ml
/LambdaS5/coq/*.mli
*.byte

# Tests
/LambdaS5/tests/es5.dump

# Vim
.*.swp
.*.swo
*~

# Profiling
gmon.out

# Builds
_build
/LambdaS5/build/**

# Doc
/LambdaS5/doc/*.aux
/LambdaS5/doc/*.log
